<% content_for :page_title do %>
  <%= Spree.t(:editing_blog_category) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_blog_categories_list), admin_blog_categories_url, :icon => 'icon-arrow-left'%></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @blog_category } %>

<%= form_for [:admin, @blog_category] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>