<div id="blog_entry_sidebar">
  
  <h3>Blog Categories</h3>
  <%= render :partial => 'spree/blog_entries/categories_list' %>
  <hr />

  <h3>Blog Tag Cloud</h3>
  <%= render :partial => 'spree/blog_entries/tag_cloud' %>
  <hr />

  <h3>Recent Blog Entries</h3>
  <%= render :partial => 'spree/blog_entries/recent_blog_entries', :object => Spree::BlogEntry.recent() %>
  <hr />

  <h3>Popular Blog Entries</h3>
  <%= render :partial => 'spree/blog_entries/popular_blog_entries', :object => Spree::BlogEntry.most_popular() %>
  <hr />

  <h3>Blog Archive</h3>
  <%= render :partial => 'spree/blog_entries/news_archive', :object => Spree::BlogEntry.organize_blog_entries %>
</div>